<ion-header>
  <ion-toolbar>
    <ion-title>New meal instance</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()">
        <ion-icon name="close-outline" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="stacked">Template</ion-label>
    <ion-searchbar
      [value]="getTemplateSearchDisplay()"
      (ionInput)="onTemplateSearchInput($event)"
      placeholder="Type to search templates"
      (ionFocus)="showTemplateList.set(true)"
      debounce="150"
    />
  </ion-item>
  @if (showTemplateList()) {
    <ion-list>
      @for (t of filteredTemplateOptions(); track t.id) {
        <ion-item button (click)="onTemplateOptionSelected(t)">
          <ion-label>{{ t.name }}</ion-label>
        </ion-item>
      }
    </ion-list>
  }

  <ion-item>
    <ion-label position="stacked">Date</ion-label>
    <ion-input
      type="date"
      [ngModel]="dateValue()"
      (ngModelChange)="dateValue.set($event)"
    />
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Meal name</ion-label>
    <ion-input
      [ngModel]="name()"
      (ngModelChange)="name.set($event)"
      placeholder="Meal name"
    />
  </ion-item>

  @if (itemRows().length > 0) {
    <p class="items-heading">Servings per food</p>
    <ion-list>
      @for (row of itemRows(); track row.foodId) {
        <ion-item>
          <ion-label>{{ row.name }}</ion-label>
          <ion-input
            type="number"
            min="0"
            step="0.25"
            [ngModel]="row.servings"
            (ngModelChange)="setServings(row.foodId, $event)"
            slot="end"
          />
        </ion-item>
      }
    </ion-list>
  }
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()">Cancel</ion-button>
      <ion-button (click)="save()" [disabled]="!canSave()">Save</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
