<ion-header>
  <ion-toolbar>
    <ion-title>Add food</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()">
        <ion-icon name="close-outline" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<form [formGroup]="form" (ngSubmit)="save()">
  <ion-content class="ion-padding">
    <ion-item>
      <ion-label position="stacked">Name</ion-label>
      <ion-input formControlName="name" placeholder="Food name" />
    </ion-item>
    @if (form.get('name')?.hasError('required') && form.get('name')?.touched) {
      <p class="ion-text-center ion-color-danger">Name is required</p>
    }
    <div class="nutrient-row">
      <ion-item>
        <ion-label position="stacked">Calories</ion-label>
        <ion-input type="number" min="0" formControlName="calories" />
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Sodium (mg)</ion-label>
        <ion-input type="number" min="0" formControlName="sodium" />
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Protein (g)</ion-label>
        <ion-input type="number" min="0" formControlName="protein" />
      </ion-item>
    </div>
    <div class="nutrient-row">
      <ion-item>
        <ion-label position="stacked">Total carbs (g)</ion-label>
        <ion-input type="number" min="0" formControlName="totalCarbs" />
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Fiber (g)</ion-label>
        <ion-input type="number" min="0" formControlName="fiberCarbs" />
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Net carbs (g)</ion-label>
        <ion-input type="number" min="0" formControlName="netCarbs" />
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Sugar (g)</ion-label>
        <ion-input type="number" min="0" formControlName="sugarCarbs" />
      </ion-item>
    </div>
  </ion-content>
  <ion-footer>
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button type="button" (click)="cancel()">Cancel</ion-button>
        <ion-button type="submit" [disabled]="form.invalid">Add</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
</form>
