<ion-header>
  <ion-toolbar>
    <ion-title>{{ idProp() ? 'Edit template' : 'New template' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()">
        <ion-icon name="close-outline" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="stacked">Template name</ion-label>
    <ion-input [ngModel]="name()" (ngModelChange)="name.set($event)" placeholder="Template name" />
  </ion-item>

  <div class="add-row">
    <ion-searchbar
      [value]="addFoodInputValue()"
      (ionInput)="onAddFoodSearch($event)"
      placeholder="Type to search foods"
      (ionFocus)="showFoodList.set(true)"
      debounce="150"
    />
    <ion-button (click)="addItem()">Add</ion-button>
  </div>
  @if (showFoodList()) {
    <ion-list>
      @for (f of filteredFoodOptions(); track f.id) {
        <ion-item button (click)="onAddFoodOptionSelected(f)">
          <ion-label>{{ f.name }}</ion-label>
        </ion-item>
      }
    </ion-list>
  }

  <ion-list>
    @for (row of itemRows(); track row.foodId) {
      <ion-item>
        <ion-label>{{ row.name }}</ion-label>
        <ion-input
          type="number"
          min="0"
          step="0.25"
          [ngModel]="row.servings"
          (ngModelChange)="setServings(row.foodId, $event)"
          slot="end"
        />
        <ion-button fill="clear" (click)="removeItem(row.foodId)" aria-label="Remove">
          <ion-icon name="close-outline" />
        </ion-button>
      </ion-item>
    }
  </ion-list>

  @if (!idProp()) {
    <ion-item>
      <ion-checkbox [ngModel]="createMeal()" (ngModelChange)="createMeal.set($event)">
        Make a meal from this template after saving
      </ion-checkbox>
    </ion-item>
  }
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()">Cancel</ion-button>
      <ion-button (click)="save()">Save</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
